@import url('https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap');


.homepage-container {
    font-family: 'Saira Stencil One', cursive;
    width: auto;
    margin: 0 auto;
  }
  
  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #8340f7;
    color: #fff;
  }
  
  .menu-item {
    margin-right: 20px;
    cursor: pointer;
  }

  .menu img {
    width: auto; 
    height: 40px; 
    margin-right: 5px; 
  }
  .login-button {
    padding: 10px 20px;
    background-color: #5d01fa;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .content {
    text-align: center;
    padding: 50px;
  }
  
  .panda {
    width: 300px;
    transition: transform 0.3s ease-in-out;
  }
  
  .panda:hover {
    transform: scale(1.1);
  }
  
  .fireworks {
    /* Add your fireworks animation here */
  }
  
  .footer {
    background-color: #8340f7;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  .social-links {
    margin-bottom: 10px;
  }
  
  .social-links img {
    width: 30px;
    margin-right: 10px;
  }
  
  .text {
    color: #5d01fa;
    font-size: 36px;
    display: inline-block;
    font-style: italic;
  }

  .text:hover {
    color: #8340f7; 
  }

  .focus {
    color: #a270f9;
    padding: 10px;
    display: inline-block;
    font-size: 56px;
    font-style: italic;
  }